body{
    font:20px Arial, sans-serif;
}

.navbar {
    background-color: rgb(189, 84, 70);
}

.quem-somos{
    background-color: rgb(101, 140, 223);
    color:white;
}

.margin{
    padding-top: 10px;
    padding-bottom:50px;
}

.parceiros{
    background-color: lavender;
}

.bg-footer{
    background-color: rgb(252, 151, 0);
}
.servicos{
    background-color: rgb(103, 184, 114);
}
@media screen and (max-width:400px){
    .rounded-circle{
        height: 250px;
        width: 250px;
    }
}